#work { 
  background-color: #fff;
  padding: 20px; 
}

#work h3 { 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--primary); 
}

#work h4 { 
  font-family: 'Montserrat', sans-serif !important;
  text-decoration: none;
  font-weight: bold;
}

#work a { 
  color: var(--dark); 
  font-weight: 600;
}

#work a:hover { 
  color: var(--main-bg-color); 
  background-color: var(--dark);
}

label { 
  font-weight: bold;
  line-height: 1.5rem;
  border-bottom: 1px solid var(--dark);
}

.project-list { 
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 75%; 
  margin: 0 auto;
}

.project-box {
  background-color: var(--main-bg-color);
  margin: 30px; 
  padding: 20px; 
  width: 100%;  
  border: 1px solid lightgrey; 
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.gallery { 
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-box img { 
  width: 45%; 
  margin: 5px; 
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border: 1px solid lightgrey; 
}
