.content { 
    width: 90vw; 
    padding-left: 30%;
    position: static; 
}

.header { 
    margin-top: 20%;
}

.head { 
    font-family: 'Satisfy', cursive;
    font-size: 72px;
    padding: 20px;
}