:root {
  --main-bg-color: #F0EDE6;
  --primary: #DD7564; 
  --dark: #1FA5A6; 
  --light: #B2DEDD;
}

.header-row { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 60%; 
    margin: 0 auto; 
    padding: 0; 
}

.about { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%; 
    margin: 0 auto; 
}

.about-col { 
  width: 30vw; 
  padding: 0px 20px; 
  margin: 0px 20px; 
}

#about-photo { 
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 0 !important; 
  height: 100%; 
}

#about-photo img { 
  height: 500px; 
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border-radius: 10px;
}

// #about-text { 
//   background-color: #DD7564;
// }
