:root {
  --main-bg-color: #F0EDE6;
  --primary: #DD7564; 
  --dark: #1FA5A6; 
  --light: #B2DEDD;
}

.header-row { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 60%; 
    margin: 0 auto; 
    padding: 0; 
}

.about { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%; 
    margin: 0 auto; 
}

.about-col { 
  width: 30vw; 
  padding: 0px 20px; 
  margin: 0px 20px; 
}

#about-photo { 
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 0 !important; 
  height: 100%; 
  overflow: hidden;
}

#about-photo img { 
  height: 500px; 
  opacity: .8; 
  width: 100%; 
  transition: transform .5s ease;
}

#about-photo:hover img {
  transform: scale(1.2);
  opacity: 1; 
}

.photo-grid { 
  margin: 20px auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-box { 
  width: 30%; 
  margin: 2px; 
  overflow: hidden;
}

.grid-box img { 
  opacity: .8; 
  width: 100%; 
  transition: transform .5s ease;
}

.grid-box:hover img {
  transform: scale(1.2);
  opacity: 1; 
}