:root {
  --main-bg-color: #F0EDE6;
  --primary: #DD7564; 
  --dark: #1FA5A6; 
  --light: #B2DEDD;
}

.about { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%; 
    margin: 0 auto; 
}

.about-col { 
  width: 30vw; 
  padding: 20px; 
  margin: 20px; 
}

#about-photo { 
  padding: 0 !important; 
  height: 100%; 
}

#about-photo img { 
  height: 500px; 
  // border-radius: 10px; 
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#about-text { 
  background-color: #DD7564;
}
