// @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant&family=Montserrat:wght@400;700&family=Satisfy&display=swap');

:root {
  --main-bg-color: #F0EDE6;
  --primary: #DD7564; 
  --dark: #1FA5A6; 
  --light: #B2DEDD;
}

* {
  box-sizing: border-box;
}

body, html { 
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  background-color: var(--main-bg-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: 1.2px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Satisfy', cursive;
    font-weight: 400;
}

.container { 
  border-top: 15px solid var(--primary); 
  height: 100%; 
  width: 100%; 
}


@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
  }

}