// @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant&family=Montserrat:wght@400;700&family=Satisfy&display=swap');

html, body { 
  display: block; 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%;
    background-color: #F3DCD4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  

.main { 
	display: flex;
	flex-direction: row;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Halant', serif;
  font-weight: 400;
  text-transform: uppercase;
}


