// @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant&family=Montserrat:wght@400;700&family=Satisfy&display=swap');

:root {
  --main-bg-color: #F0EDE6;
  --primary: #DD7564; 
  --dark: #1FA5A6; 
  --light: #B2DEDD;
}

